@model IEnumerable<AtelierHub.Models.Master>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h1>@Localizer["Masters"]</h1>

@if (Model.Any())
{
    <div class="row">
        @foreach (var master in Model)
        {
            <div class="col-md-6">
                <div class="master-item">
                    <h3>@master.Name</h3>
                    <p>@Localizer["Specialty"]: @master.Specialty</p>
                    <p>@Localizer["Description"]: @master.Description</p>
                    <img src="@master.ImageUrl" alt="@master.Name" />
                    <p>@Localizer["Contact"]: @master.ContactEmail</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>@Localizer["NoMasters"]</p>
}

<button id="loadMastersBtn" class="btn btn-primary">@Localizer["LoadMastersViaApi"]</button>
<div id="mastersApiResult"></div>

@section Scripts {
    <script src="~/js/masters.js" asp-append-version="true"></script>
}