@model IEnumerable<AtelierHub.Models.Master>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h1>@Localizer["Masters"]</h1>

@if (Model.Any())
{
    <div class="row">
        @foreach (var master in Model)
        {
            <div class="col-md-6">
                <div class="master-item">
                    <h3>@master.Name</h3>
                    <p>@Localizer["Specialty"]: @master.Specialty</p>
                    <p>@Localizer["Description"]: @master.Description</p>
                    <img src="@master.ImageUrl" alt="@master.Name" />
                    <p>@Localizer["Contact"]: @master.ContactEmail</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>@Localizer["NoMasters"]</p>
}

<button id="loadMastersBtn" class="btn btn-primary">@Localizer["LoadMastersViaApi"]</button>
<div id="mastersApiResult"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#loadMastersBtn").click(function () {
                $.ajax({
                    url: "/api/MastersApi",
                    method: "GET",
                    success: function (data) {
                        let result = "<h3>Masters from API:</h3><ul>";
                        data.forEach(function (master) {
                            result += `<li>${master.name} - ${master.specialty}</li>`;
                        });
                        result += "</ul>";
                        $("#mastersApiResult").html(result);
                    },
                    error: function (xhr, status, error) {
                        $("#mastersApiResult").html("<p>Error loading masters: " + error + "</p>");
                    }
                });
            });
        });
    </script>
}